
.navbar {
  display:flex;
  background-image: linear-gradient(rgb(117, 31, 31), brown) ; 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  justify-content: space-evenly;
  box-shadow: 0px -2px 2px rgb(117, 31, 31);
}
.media, .stuff{
  display:flex;
  font-size: 30px;
  padding: 10px;
}
.gh, .in, .lang, .dalt, .top, .resume {
  margin: 10px;
  color: black;
}
.gh:hover, .in:hover, .lang:hover, .dalt:hover, .top:hover, .resume:hover {
  color: lightcoral;
}

.naveg {
  display: flex;
  list-style: none;
  width:100%;
  justify-content: center;
}

/* DROPUP */
 /*container*/
 .dropup {
  position: relative;
  display: inline-block;
}
/*content*/
.dropup-content {
  display: none;
  position: absolute;
  bottom: 40px;
  background-color: rgba(255, 255, 255, 0.877);
  border-radius: 8px;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/*links inside*/
.dropup-content .item {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  text-align: center;
  border:transparent;
  background-color: transparent;
  width: 100%;
}
/*hovers*/
.dropup-content .item:hover {background-color: rgba(165, 42, 42, 0.479)}
.dropup:hover .dropup-content {
  display: block;
  border-radius: 8px;
}


