/* Contenedores */

.div1 {
  display: flex;
  align-content: center;
  justify-content: center;
}
.div2 {
  display: inline-block;
  background-color:transparent;
    height: max-content;
  width: max-content;
  position: relative;
}

/* Boton */
.btn {
  background-color: brown;
  color: lightcoral;
  padding: 6px;
  margin: 10px;
  border-radius: 4px;
  border: 2px solid brown;
  box-shadow: brown;
  text-decoration: none;
}
.btn:hover{
  background-color: lightcoral;
  color: black;
}


/* Texto */

h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
}
