@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Fredericka the Great', cursive;
  --transition-speed: 600ms;
}
body {
  flex-direction: column;
  background-color: #F4DECB;
  line-height: 1.6;
  height: 100vh;
  overflow:hidden;
  font-size: 16px;
}

.container {
  height: 100vh;
  /*CSS SMOOTH SCROLL*/
  overflow-y: scroll;
  scroll-behavior:smooth;  
  scroll-snap-type: y mandatory;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:100%;
  height: 100vh;
  scroll-snap-align: center;
}


/*----------ScrollBar----------*/



/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.507); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #49274A; 
  border-radius: 8px;
}

  /*MEDIA QUERIES*/
  @media (max-width: 1200px){}
  @media (max-width: 992px){}
  @media (max-width: 849px){
    body {
      height: 100%;
      display: grid;
      grid-auto-flow: dense;
      grid-area: span;
    }
    section {
      height: auto;
    }
    
  }
