
.project-container {
  display: flex;
justify-content: space-around;
-webkit-box-align: center;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.project {
  display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 20%;
}

.btn {
  background-color: brown;
  color: lightcoral;
  padding: 6px;
  margin: 10px;
  border-radius: 4px;
  border: 2px solid brown;
  box-shadow: brown;
  text-decoration: none;
}
.btn:hover{
  background-color: lightcoral;
  color: black;
}
