.div1 {
  display: flex;
  width: 70%;
  margin:auto;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

}
.dev{
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 20%;
}
img {
  float: right;
  border-radius: 5px;
}

