.div1 {
  display: flex;
  width: 70%;
  margin:auto;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

}
.dev{
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 20%;
}
img {
  float: right;
  border-radius: 5px;
}
.btn {
  background-color: brown;
  color: lightcoral;
  padding: 6px;
  margin: 10px;
  border-radius: 4px;
  border: 2px solid brown;
  box-shadow: brown;
  text-decoration: none;
}
.btn:hover{
  background-color: lightcoral;
  color: black;
}


