.div1 {
  display: flex;
  width: 70%;
  margin:auto;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

}

.abtn {
  background-color: #49274A;
  color: #F4DECB;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  border: 2px solid #49274A;
  box-shadow: black;
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s;
}
.abtn:hover{
  background-color: #94618E;
  color:#F4DECB;
  transform: scale(1.2);  
}

i {
  display: inline-block;
  font-size: 30px;
  padding: 5px;
  transition: 0.6s;
}
i:hover {  
  transform:scale(1.5)
}
.ic {  
  justify-items: space-evenly;
  z-index: 1000;
}